.grid {
    width: 400px;
    height: 600px;
    background-color: yellow;
    background-image: url("images/background.webp");
    position: relative;
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
    z-index: 10;
}

.platform {
    width: 85px;
    height: 15px;
    position: absolute;
    background-image: url(images/platform.png);
}

.home {
    width: 400px;
    height: 600px;
    display: flex;
    position: relative;
    font-family: 'Caveat', cursive;
}

#homeTitle {
    position: absolute;
    top: 1rem;
    left: 2rem;
    transform: rotate(-7deg);
    color: rgb(151, 35, 35);
    font-size: 30pt;
}

#playBtn {
    position: absolute;
    bottom: 8rem;
    right: 4rem;
    color: rgb(48, 5, 5);
    font-weight: bold;
    font-size: 18pt;
    font-family: 'Caveat', cursive;
    border-radius: 30px;
    padding: 5px;
    width: 100px;
    background:rgba(232, 203, 140, 1);
    border-color: rgba(139, 87, 42, 1);
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

#playBtn:hover {
    background:rgb(233, 171, 79);
}

#playBtn:active {
    box-shadow: none;

}

#instructionsBtn {
    display: none;
}